@import url(https://fonts.googleapis.com/css?family=Press+Start+2P:regular);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    font-family: "Press Start 2P";
    background: linear-gradient(90deg, rgb(220, 232, 118) 0%, rgb(44, 165, 73) 100%);
    color: black;
}
header{
    position: relative;
    height: 300px;
    border-bottom: 8px solid white;
}
h1{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
}
.between{
    position:absolute;
    right: 15px;
    top: 30px;
}
.btn{
    margin-top: 30px;
    margin-left: 20px;
    font-family: inherit;
    font-size: 2rem;
    padding: 20px 25px;
    cursor: pointer;
    border: none;
    background-color:white;
}

.questionMark{
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 180px;
    background-color:white;
    color: black;
    font-size:4rem;
    text-align: center;
    padding: 2rem;
    transform: translate(-50%,50%);
}
main{
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right{
    font-size: 1.3rem;
}
.guess{
    background-color: inherit;
    border: 5px solid white;
    font-family: inherit;
    width: 300px;
    font-size: 3rem;
    color: white;
    padding: 3rem;
    text-align: center;
}
.msg{
    margin-bottom: 150px;
}
.score{
    line-height: 2rem;
}